#card{
    border: 2px solid black;
    background-color: #ddd47e;
}
.image{
    width: 15vw;
    float: right;
    padding: 15px;
}
.para{
    width: 80vw;
    height:20vh
}
.para>p{
    width:80vw;
    padding-left: 20px;
}
.para>h3{
    padding-left: 20px;
}