.box{
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: #0eb99d;
    border: 1px solid rgb(7, 7, 7);
}

.box_A{
    left: 200px;
    top: 200px;
    position: relative;
}

.box_B{
    left: -30px;
    bottom: 30px;
    position: absolute;
}

.box_C{
    right: -30px;
    bottom: 30px;
    position: absolute;

}

.box_D{
    left: -30px;
    top: 30px;
    position: absolute;

}

.box_E{
    right: -30px;
    top: 30px;
    position: absolute;

}