.navigation-bar{
    background-color: rgb(140, 140, 172);
    font: 14px;
}

.navigation-bar a{
    color: white;
}

.navigation-bar ul li{
    display: inline-block;
}

ul{
    padding-right: 10px;
}

li{
    list-style-type: none;
}

li a{
    display: inline-block;;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    color:black ;
    background-color: rgba(110, 13, 236, 0.5);
}

li a:focus{
    color: black;
}